body {
    color: #eeeeee;
    background-color: #222222;
}

#flag-button{
    background-color: DarkRed;
    margin-top:20px;
    width:50px;
    height:50px;
}

.cell{
    border-width:1px;
    border-radius:0%;
    border-color:#555555;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.cell.hidden{
    background-color: hsl(0, 0, 70%);
}
.cell.hidden:hover{
    background-color: hsl(0, 0, 80%);
}
.cell.hidden:active{
    background-color: hsl(0, 0, 90%);
}
.cell.revealed{
    color:#000000;
    cursor:default;
    background-color:#666666;
}
.cell.flagged{
    background-color:hsl(0, 90%, 45%)
}

#board {
    display: inline-grid;
    
    padding: 10px;
    max-width: 200px;
}