body {
    color: #eeeeee;
    background-color: #222222;
}
.unclicked {
    color: #aaaaaa;
    height: 50px;
    width: 50px;
}
.unclicked:hover{
    color: #cccccc;
    cursor: pointer;
}
.unclicked:active{
    color: #eeeeee;
}
.flagged{
    height: 50px;
    width: 50px;
    background-color:#bb0000;
    border-style: none;
}
.clicked,.clicked:hover,.clicked:active{
    color:#000000;
    cursor: default;
    border-style:solid;
    border-width:1px;
    border-radius:0%;
    border-color:#555555;     
}

.cell{
    color: hsl(0, 0, 70%);
    border-radius:0%;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.cell:hover{
    color: hsl(0, 0, 80%);
}
.cell:active{
    color: hsl(0, 0, 90%);
}

.cell.revealed{

}
.cell.flagged{

}
#board {
    display: inline-grid;
    
    padding: 10px;
    max-width: 200px;
}